# Устанавливаем кодировку файлов как UTF-8
* text=auto

# Указываем, что Markdown файлы следует считать текстовыми
*.md text

# Указываем, что файлы с расширением .md всегда будут использовать LF (Line Feed) в качестве конца строки, независимо от операционной системы
*.md eol=lf

# Если проект используется для сборки с помощью различных инструментов, можно добавить атрибуты для этих файлов (например, для LaTeX, если используешь его для форматирования документов)
# *.tex text

# Для обработки файлов с данными (если используешь их для примеров) или двоичных файлов
# Например, если используешь изображения или бинарные данные, можно игнорировать слияния
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
